name: Daily container builds

on:
  # These push/pr options will be removed one they are proven to work (one PR/push ought to do it)
  pull_request:
    branches: main
  push:
    branches: main
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      # Don't stop other in-progress jobs when one fails
      fail-fast: false

      matrix:
        branch:
          - sid_amd64
          - fedora_rawhide_x86_64

    env:
      SLUG: "collectd/ci:${{ matrix.branch }}"

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ matrix.branch }}
    - name: Build container
      run:
        docker build --pull -t "${SLUG}" .
    - run: docker inspect "${SLUG}"
    - run: docker history "${SLUG}"
    - name: Log into the container registry
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - run: docker push "${SLUG}"
