name: Merge jobs

on:
  push:
    branches-ignore:
      - main
        # topic branches (e.g. fix/something)
      - '**/**'

jobs:
  build_and_publish_container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get branch name
        run: |
          export BRANCH="$(${{ github.ref }} | rev | cut -d '/' -f1 | rev )
      - run:
          export SLUG="collectd/ci:${BRANCH}"
      - name: Build container
        run:
          docker build --pull -t "${SLUG}" .
      - run: docker inspect "${SLUG}"
      - run: docker history "${SLUG}"
      - run: docker images
      - name: Log into the container registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker push "${SLUG}"
